#heroCarousel {
    z-index: 1;
}

.myVideo{
    position: absolute;
    max-height: 750px;
    height: 750px;
    width:100%;
    min-width:100%;


    margin: auto;
    width: 100%;
    right: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
    background-image: url("../img/frame-video.jpg");
}

.intro-section {
    height: 750px;
    background: rgba(27, 27, 39, 0.7);
    position: relative;
    color: white;
    font-family:"Open Sans" sans-serif; 
    display: flex;
}

.intro-section-container {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.intro-title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.intro-description {
    font-size: 24px;
    max-width: 900px;
    margin: 0 auto 24px;
    font-weight: lighter;
}
.intro-button {
    margin: 40px auto;
    background:#3943B7;
    border-color: #3943B7;
    font-family:"Open Sans" sans-serif;
    font-size: 20px;
}

.intro-button:hover,
.intro-button:active,
.intro-button:not(:disabled):not(.disabled):active,
.intro-button:not(:disabled):not(.disabled):active:focus,
.intro-button:focus {
    background-color: rgba(254, 254, 254, 0.980);
    border-color: white;
    font-family:"Open Sans" sans-serif;
    font-size: 20px;
    color: #3943B7;
    box-shadow: none;
}

.intro-mask-section {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    display: block;
    max-height: none;
    margin-top: 0;
    align-self: flex-end;
    order: 1;
    text-shadow: 14px 14px 20px #000;
    width: 100%;
    height: 180px;
}

#header .logo img {
    max-height: 56px;
    position: relative;
    top: -9px;
}

.features-sections .row{
    margin: 0 auto;
}

.features-sections .row{
    margin: 0 auto;
}

.gray-background {
    background-color: #F2F4f4;
    padding: 60px 0;
}
.blue-background{
    background-color:#78c0e03d;

}

.menu-items li a:hover {
    color: #45beff;
}
/* SECTIONS */

